---
import "aos/dist/aos.css";
import Bienvenida from "../sections/bienvenida.astro";
import Ruta from "../sections/ruta.astro";
import "../../style.css";

const TIMESTAMP_END = 1734213601000;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="svg/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<script src="https://cdn.tailwindcss.com"></script>
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>Boda Daniel&Maria</title>
	</head>
	<body>
		<div class="scroll-wrapper-y">
			<Bienvenida />
			<Ruta />
		</div>

		
	</body>
<script>
import AOS from "aos";
AOS.init();
</script>
</html>
