---
import Reloj from "./reloj.astro";
import "../../style.css";
import "aos/dist/aos.css";
---
<div class="scroll-section relative">
    <video autoplay loop muted id="bgVideo" style="filter: blur(1.2px);">
        <source src="../../public/01.mp4" type="video/mp4"/>
    </video>
    <section class="greater-desktop:h-screen desktop:h-[670px]  h-[670px] hero-section desktop:w-full w-full flex justify-center items-center bg-hero-pattern">
    <div class="info-hero z-50 flex flex-col justify-center items-center absolute text-center mx-auto greater-desktop:max-w-3xl desktop:max-w-xl  max-w-80 h-[670px]">
    <div>
        <span class="date-hero w-full table text-2xl desktop:text-xl  greater-desktop:text-2xl text-color02 mb-12 font-rubik font-semibold">
            14.12.2024
        </span>
        <h1 class="married-hero   custom-hero border-b-[1px] pb-8 border-b-white text-6xl greater-desktop:text-8xl text-color02 font-parisienne flex flex-col">
            Daniel
            <span> & </span>
            Maria
        </h1>
        <h1 class="mt-16 text-5xl greater-desktop:text-8xl text-color02 font-parisienne flex flex-col">
            ¡Nos Casamos!</h1>
            <Reloj />

            

    </div>
    </div>
    </section>
</div>
<script>
    import AOS from "aos";
    AOS.init();
</script>
